:host{
  width: 100vw;
  height: 100vh;
}
.wrapping-menu {
  display: flex;
}

.content {
  width: 100%;
}

.scroll-container {
  overflow: auto;
  background-color: var(--surface--background);
  width: calc(100vw - 200px);
  height: calc(100vh - 100px)
}
