<section class="container grid grid-nogutter p-2 w-full">
  <p-table #dt class="w-full h-full" [value]="servicos" stripedRows
           size="small"
           [scrollable]="true"
           scrollHeight="flex"
           [virtualScroll]="true"
           [virtualScrollItemSize]="50"
           [loading]="loading"
           [globalFilterFields]="['nome', 'descricao', 'tempoEstimadoMin']"
           [tableStyle]="{ 'min-width': '75rem' }">
    <ng-template #caption>
      <h3 class="session-title m-3">Serviços</h3>
      <section class="flex justify-content-between  mb-2">
        <p-input-group class="w-13rem">
          <p-inputgroup-addon>
            <i class="pi pi-search"></i>
          </p-inputgroup-addon>
          <input pInputText type="text" [(ngModel)]="searchValue"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Keyboard Search"/>
        </p-input-group>
        <div>
          <p-button icon="pi pi-plus" class="ml-3 rotate-hover" styleClass="rotate-hover" [rounded]="true"
                    severity="success"/>
<!--          <span class="text-green-600 ml-2">novo</span>-->
        </div>
      </section>
    </ng-template>

    <ng-template #header>
      <tr>
        <th pSortableColumn="nome">
          <div class="flex items-center gap-2">
            Nome
            <p-sortIcon field="nome"/>
          </div>
        </th>
        <th pSortableColumn="tempoEstimadoMin">
          <div class="flex items-center gap-2">
            Tempo Estimado
            <p-sortIcon field="tempoEstimadoMin"/>
          </div>
        </th>
        <th>Descricao</th>
        <th>#</th>
      </tr>
    </ng-template>
    <ng-template #body let-servico>
      <tr>
        <td>{{ servico.nome }}</td>
        <td>{{ servico.tempoEstimadoMin }}</td>
        <td>{{ servico.descricao }}</td>
        <td>
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="primary"/>
          <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>

