.container-os {
  height: calc(100vh - 150px);
}

.p-textarea {
  width: 100%;
}

p-floatlabel:not(:has(textarea)) {
  max-height: 45px;
}

p-inputgroup:not(:has(textarea)) {
  max-height: 45px;
}

.session-title {
  color: var(--p-gray-500);
}
