<p-dialog (onHide)="close()" [closable]="true" [closeOnEscape]="true" [header]="header" [modal]="true"
          [(visible)]="visible" [style]="{ width: '60vw' }">

  <div class="container-modal">
    <div class="mb-2"><span class="font-bold">Proprietário(a):</span> {{ ordemServico?.cliente?.nome }}</div>
    <span class="mb-2"> <span
      class="font-bold">Contato:</span> {{ ordemServico?.cliente?.telefone | phoneFormat }} </span>
    <p-divider/>
  </div>
  <div class="container-servicos mt-2" [formGroup]="form">
    @if (editServicos()) {
      <div class="flex">
        <p-floatlabel variant="over" class="w-full">
          <p-multiSelect display="chip"
                         class="w-full"
                         id="servicos"
                         [maxSelectedLabels]="5"
                         formControlName="servicos"
                         [options]="servicos"
                         optionLabel="descricao"
                         optionValue="id">
          </p-multiSelect>
          <label for="servicos">Serviços</label>
        </p-floatlabel>
        <p-button (click)="editMode()" class="save-btn ml-2" icon="pi pi-save" aria-label="Save"/>
        <p-button (click)="editMode()" class="cancel-btn ml-1" icon="pi pi-times" severity="danger" aria-label="Cancel"/>
      </div>
    } @else {
      <h4 class="mb-2">Serviços</h4>
      @for (servico of ordemServico?.servicos; track servico.id) {
        <p-tag (click)="editMode()" severity="danger" class="mr-1 mt-1 cursor-pointer" [value]="servico?.nome"></p-tag>
      }
    }
    <p-divider/>
  </div>
  <h4 class="mb-2">Mecânico</h4>
  <div class="mecanico mt-2">
    <i class="fa-solid fa-wrench mr-1"></i>
    <p>{{ ordemServico?.mecanico?.nome }}</p>
  </div>
  <p-divider/>
  <h4 class="mb-2">Observações</h4>
  <span>{{ ordemServico?.observacao ?? 'Sem observação' }}</span>
  <p-divider/>
  <h4 class="mb-2">Previsão de entrega</h4>
  <div class="data-prevista" [previsaoStatus]="ordemServico?.previsaoTermino">
    <i class="fa-solid fa-clock mr-1"></i>
    <span class="data-previsao">{{ ordemServico?.previsaoTermino | humanDate }}</span>
  </div>
</p-dialog>
