@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif !important;
  background-color: #f5f5f5;
  color: #333;
}

.btn-full {
  width: 100%;

  button {
    width: 100%;
  }
}

.p-inputmask {
  max-height: 45px;
  width: 100%;

  input {
    width: 100% !important;
    max-height: 45px !important;
  }
}

p-floatlabel:not(:has(textarea)) {
  max-height: 45px;
}

p-inputgroup:not(:has(textarea)) {
  max-height: 45px;
}

.container {
  width: 100%;
  height: calc(100vh - 150px);
}

.p-textarea {
  width: 100%;
}

.session-title {
  color: var(--p-gray-500);
}

.p-inputnumber {
  max-height: 45px;
  width: 100%;

  input {
    width: 100%;
  }
}

:root {
  //--p-datatable-row-striped-background: var(--p-blue-200) !important; /* verde claro */
}
