@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif !important;
  background-color: #f5f5f5;
  color: #333;
}

.btn-full {
  width: 100%;

  button {
    width: 100%;
  }
}

.p-inputmask {
  max-height: 45px;
  width: 100%;

  input {
    width: 100% !important;
    max-height: 45px !important;
  }
}

p-floatlabel:not(:has(textarea)) {
  max-height: 45px;
}

p-inputgroup:not(:has(textarea)) {
  max-height: 45px;
}

.container {
  width: 100%;
  height: calc(100vh - 150px);
}

.p-textarea {
  width: 100%;
}

.session-title {
  color: var(--p-gray-500);
}

.p-inputnumber {
  max-height: 45px;
  width: 100%;

  input {
    width: 100%;
  }
}

:root {
  //--p-datatable-row-striped-background: var(--p-blue-200) !important; /* verde claro */
}

.w-min-300 {
  min-width: 300px;
}

.w-min-250 {
  min-width: 250px;
}

.w-min-200 {
  min-width: 200px;
}

.w-min-150 {
  min-width: 150px;
}

.w-min-100 {
  min-width: 100px;
}

.w-min-50 {
  min-width: 50px;
}

.w-fixed-100{
  width: 100px;
}
.w-fixed-150{
  width: 150px;
}
